<%= render 'common/header' %>

<!-- Breadcromb Area Start -->
<section class="bleezy-breadcromb-area">
    <div class="breadcromb-top section_50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-top-text">
                        <h2>contact us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcromb-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcromb-bottom-text">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                            <li>contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcromb Area End -->



<!-- Contact Page Area Start -->
<section class="bleezy-contact-page-area section_t_100 section_b_70">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="single-contact-address">
                    <h3>Regd. Office</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <p>Model Town, Sector 11, Faridabad, Haryana-121006, India</p>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p>+91 97110633143</p>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <p>info@pmspl.co.in</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="single-contact-address">
                    <h3>Corporate Office</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <p>50B 3rd and 4th Floor, Bharat Nagar, New Friends Colony, New Delhi-110025, India</p>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <p>+91 97110633143</p>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <p>info@pmspl.co.in</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Page Area End -->



<!-- Contact Form Area Start -->
<section class="bleezy-contact-form-area section_b_100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-form">
                    <div class="contact-heading">
                        <h3>get in touch</h3>
                        <p>Our experts will reply you very soon</p>
                    </div>
                    <div id="contact-form-container">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <p>
                                    <%=text_field_tag :name,'', placeholder: 'Your Name'%>
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p>
                                    <%=email_field_tag :email,'', placeholder: 'Your Email'%>
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <p>
                                    <%=text_field_tag :name,'', placeholder: 'Your Phone'%>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <%=text_area_tag :description,'', placeholder: "write your message"%>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="contact-form-button">
                                    <button type="submit" name="submit" onclick="sendComment()">Send message</button>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form Area End -->
<%= render 'sections/home/hidden_form'%>

<%= render 'common/footer' %>

<script>
    $(".bleezy_navigation li").removeAttr("class")
    $("#contact").attr("class", "current-page-item")
</script>